html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #2d3e50;
    font-family: 'Roboto Thin';
    color: #ffffff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-weight: 400;
    font-size: 57pt;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 600px;
    min-height: 600px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.deck .card {
    height: 150px;
    width: 150px;
    border-style: solid;
    border-width: thin;
    border-color: #2d3e50;
    background: #51b3d8;
    font-size: 0;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck .card.open {
    transform: rotateY(0);
    background: #16a086;
    cursor: default;
}

.deck .card.nomatch {
    transform: rotateY(0);
    background: #f4b251;
    cursor: default;
}


.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #2dcc70;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.timer-text {
    padding-left: 5%;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.modal-finish {
    display: none;
    position: fixed;
}

